@{{author}}: {% if tags %}{% for t in tags %}*{{ t }} {% endfor %}{% endif %}
{% if title %}[{{title}}]
{% endif %}
{{text|safe}}{% if link %}
{{link}}{% endif %}{% if files %}
{% for f in files %}http{{settings.media_root}}/{{f}}
{% endfor %}{% endif %}
{% for upd in updates %}
UPD {{upd.no}}: {{upd.text}}{% endfor %}
#{{post_id}} http://{{settings.domain}}/{{post_id}}

{% if rec_users %}Рекомендовано {% for u in rec_users %}@{{u.login}}{% if loop.index==rec_users|count %}{% elif loop.index==rec_users|count-1 %} та {% else %}, {% endif %}{% endfor %}
{% endif %}
{% for c in comments %}
{{c.comment_id}}. @{{c.comment_author}}
{% if c.comment_to %}@{{c.comment_to}}, {% endif %}{{c.comment_text}}
{% if c.is_rec %}! {% endif %}#{{post_id}}/{{c.comment_id}} http://{{settings.domain}}/{{post_id}}#{{c.comment_id}}{% if c.to_comment_id %} у відповідь на /{{c.to_comment_id}}{% endif %}
{% else %}{% if comments_count %}Коментарів: {{comments_count}}{% else %}Немає коментарів{% endif %}
{% endfor %}
