{% for p in posts %}
{% if p.rec and p.rec.text %}@{{p.rec.author.login}}: {{p.rec.text}}
{% endif %}{% if p.private %}[private]{% endif %}@{{p.post.author.login}} {% for t in p.post.tags %}*{{ t }} {% endfor %}
{{p.post.text}}
Comments: {{p.post.comments_count()}}
#{{p.post.id}} http://{{settings.domain}}/{{p.post.id}}
{% else %}{% if posts_count %}Posts: {{posts_count}}{% else %}No posts yet{% endif %}
{% endfor %}